<% if current_user.blank? %>
  <h1>Welcome to APIcurious!</h1>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% else %>
 <h1>Hello <%= current_user.username %>!</h1>
  <p>You are signed in as <%= current_user.username %>.  Click the button below to sign out.</p>
  <%= button_to "Log Out", logout_path, method: :delete %>
<% end %>